<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="admin.bean.AdminDTO" alias="adminDTO"/>
		<typeAlias type="member.bean.MemberDTO" alias="memberDTO"/>
		<typeAlias type="resume.bean.ResumeDTO" alias="resumeDTO"/>	
		<typeAlias type="job_experience.bean.Job_experienceDTO" alias="job_experienceDTO"/>	
		<typeAlias type="job_exp_reply.bean.Job_exp_replyDTO" alias="job_exp_replyDTO"/>	
	</typeAliases>
	
	<mappers>
		<mapper resource="mybatis/admin-mapping.xml"/>
		<mapper resource="mybatis/member-mapping.xml"/>
		<mapper resource="mybatis/resume-mapping.xml"/>	
		<mapper resource="mybatis/job_experience-mapping.xml"/>	
		<mapper resource="mybatis/job_exp_reply-mapping.xml"/>			
	</mappers>
</configuration>